@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #1f2937; /* bg-gray-800 */
}
::-webkit-scrollbar-thumb {
  background: #4f46e5; /* bg-indigo-600 */
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #4338ca; /* bg-indigo-700 */
}
